:root {
  /* General */
  --bg-color: #faf9f7;
  --text-color: #252525;
  --secondary-text-color: #5d6875;
  --about-text-color: #252525;

  /* Navbar */
  --navbar-bg: #ffffff; 
  --navbar-text: #252525;
  --navbar-hover: #3d5a80;

  /* Buttons */
  --button-bg: #3d5a80;
  --button-bg-load-more: #445e84;

  /* Hero */
  --hero-bg-gradient: linear-gradient(135deg, #fafafa, #f0f4f8);
  --hero-highlight-color: #3d5a80;
  --hero-white-text: #696969;

  /* About */
  --section-bg: #ebedf0;

  /* Projects */
  --project-bg: #ffffff;
  --project-card-bg: #fcfcfc;
  --project-card-shadow: rgba(61, 90, 128, 0.05); 
  --pagination-bg: #ebedf0;

  /* Certifications */
  --certifications-bg: #f5f8fc;
  --cert-box-bg: #ffffff;
  --cert-box-border: #e6ebf2; 
  --cert-box-shadow: rgba(61, 90, 128, 0.04); 
  --cert-box-hover-shadow: rgba(61, 90, 128, 0.1);
  --cert-box-h3: #252525;
  --cert-box-p: #5d6875;

  /* Contact */
  --contact-bg: #ebedf1;
  --contact-a: #252525;

  /* Footer */
  --footer-bg: #1d3557;
  --footer-text-color: #ffffff;

  /* Hover and Link */
  --link-hover-color: #3d5a80;
}



body.dark-mode {
  /* General */
  --bg-color: #121212;
  --text-color: #ddd;
  --secondary-text-color: #ffffffcc;
  --about-text-color: #ddd;

  /* Navbar */
  --navbar-bg: #1f1f1f;
  --navbar-text: #ccc;
  --navbar-hover: #0892D0;

  /* Buttons */
  --button-bg: #176f97;
  --button-bg-load-more: #176f97;

  /* hero */
  --hero-bg-gradient: linear-gradient(135deg, #333, #000);
  --hero-highlight-color: #176f97;
  --hero-white-text: #ffffff;

  /* About  */
  --section-bg: #181818;

  /* Projects */
  --project-bg: #121212;
  --project-card-bg: #1f1f1f;
  --project-card-shadow: rgba(0, 0, 0, 0.6);
  --pagination-bg: #1f1f1f;

  /* Certifications */
  --certifications-bg: #121212;
  --cert-box-bg: #1f1f1f;
  --cert-box-border: #444;
  --cert-box-shadow: rgba(0, 0, 0, 0.3);
  --cert-box-hover-shadow: rgba(0, 0, 0, 0.4);
  --cert-box-h3: #fff;
  --cert-box-p: #bbb;

  /*Contact */
  --contact-bg: #1f1f1f;
  --contact-a: #0892D0;

  /* Footer */
  --footer-bg: #121212;
  --footer-text-color: #ffffffcc;

  /* Hover and Link */
  --link-hover-color: #015c86;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  scroll-behavior: smooth;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--bg-color);
  overflow-x: hidden;
}

section {
  scroll-margin-top: 50px;
}

section h2 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 40px;
  font-weight: 600;
  color: var(--text-color);
  text-transform: uppercase;
  letter-spacing: 2px;
}
